apiVersion: v1
kind: ConfigMap
metadata:
  name: webhook-router-env
data:
  # Our Auth0 application's Audience.
  AUTH0_AUDIENCE: '{audience}'
  # The URL of our Auth0 Tenant Domain.
  # If you're using a Custom Domain, be sure to set this to that value instead.
  AUTH0_DOMAIN: '{domain}'
