apiVersion: v1
kind: Secret
metadata:
  name: webhook-router-config
stringData:
  config.yaml: |
    daemon: "http://localhost:8080"
    receivers:
      passthrough: "passthrough://"
    transformations:
      passthrough: "passthrough://"
    dispatchers:
      log: "log://"
      alert-maintenance: "slack://?webhook={SLACK_WEBHOOK_URI}&channel={SLACK_CHANNEL}"
    webhooks:
      - endpoint: "/echo"
        receiver: "passthrough"
        transformations:
          - "passthrough"
        dispatchers:
          - "log"
      - endpoint: "/api"
        receiver: "passthrough"
        transformations:
          - "passthrough"
        dispatchers:
          - "alert-maintenance"
