{
    "daemon": "http://localhost:8080",
    "receivers": {
	"insecure": "insecure://",
	"secure": "secure://"
    },
    "transformations": {
	"null": "null://",
	"chicken": "chicken://zxx",
	"clucking": "chicken://eng?clucking=true"
    },
    "dispatchers": {
	"null": "null://",
	"log": "log://"
    },
    "webhooks": [
	{
	    "endpoint": "/secure-test",
	    "receiver": "secure",
	    "transformations": [ "null" ],
	    "dispatchers": [ "log" ]
	}
    ]
}
